h1{
    color: #025152;
    
}

body{
    background-color: #fffbf7;
    font-family: "Open Sans", sans-serif;
}

.above-title{
    color: #46484c;

}

.promotional-text{
    color: #8b8b8bcc;
}

#email{
    border: 1px solid #b6b6b6;
    padding: 6px 20px;
    width: 60%;
    max-width: 250px;
}

.btn-try{
    background-color: #025157;
    color: #fff;
    border: #025157;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 7px 20px;
    margin-left: -10px;
}