

h1{
    color: #025152;
    margin:0;
    font-family: "Alegreya", serif;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}

body{
    background-color: #fffbf7;
    font-family: "Open Sans", sans-serif;
}

.section-1{
    margin-top: 140px;
}

.above-title{
    color: #46484c;

}

.section-1 .above-title{
    color: #46484c;
    font-family: "Slabo 16px", serif;
    font-size: 16px;
    margin-bottom: 30px;
    text-align: center;
}

.section-1 .promotional-text-1{
    color: #8b8b8bcc;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-bottom: 0px;
    text-align: center;
}

.section-1 .promotional-text-2{
    color: #8b8b8bcc;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-bottom: 25px;
    margin-top: 5px;
    text-align: center;
}

.section-1 .form-email{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    height: 55px;
}

#email{
    border: 1px solid #b6b6b6;
    padding: 15px 20px;
    width: 15%;
    max-width: 250px;
    /* height: 25px; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-family: 'Open Sans', sans-serif;
}

.btn-try{
    background-color: #025157;
    color: #fff;
    /* border: 24px bisque; */
    border-color: 10;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 16px 20px;
    margin-left: -10px;
    /* height: 25px;*/
    font-family: 'Open Sans', sans-serif;
}

#imgGetMatcha{
    text-align: center;
}



.header{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
}

.header li{
    display: inline;
}

.header > *{
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
}

.header .logo{
    width: 15%;
    text-align: left;
    
}

.header .navbar{
    width: 70%;
    text-align: center;
    
}

.header .navbar ul{
    padding-left: 0;
    
}

.header .navbar .nav-item{
    color: #025157;
    font-weight: 400;
    background-color: transparent;
    margin-right: 10px;
}

.header .actions{
    width: 15%;
    text-align: right;
    
}

.header .actions button{
    border-radius: 5px;
    color: white;
    font-weight: 300;
    font-size: 16px;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
}

.header .actions a{
    color: #67b54b;
    text-decoration: none;
    background-color: transparent;
    font-weight: 300;
    margin-right: 10px;
}

.main{
    margin-top: 140px;
}

